@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 141 0% 95%;
    --foreground: 141 0% 0%;
    --card: 141 0% 90%;
    --card-foreground: 141 0% 10%;
    --popover: 141 0% 95%;
    --popover-foreground: 141 95% 0%;
    --primary: 141 72.9% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 141 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 103 10% 85%;
    --muted-foreground: 141 0% 35%;
    --accent: 103 10% 80%;
    --accent-foreground: 141 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 141 0% 90%;
    --border: 141 20% 50%;
    --input: 141 20% 18%;
    --ring: 141 72.9% 42%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 141 0% 0%;
    --foreground: 141 0% 90%;
    --card: 141 20% 5%;
    --card-foreground: 141 0% 90%;
    --popover: 141 10% 5%;
    --popover-foreground: 141 0% 90%;
    --primary: 141 72.9% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 141 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 103 5% 10%;
    --muted-foreground: 141 0% 60%;
    --accent: 103 10% 15%;
    --accent-foreground: 141 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 141 0% 90%;
    --border: 141 10% 10%;
    --input: 141 20% 18%;
    --ring: 141 72.9% 42%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

main,
nav {
  @apply max-w-6xl mx-auto my-12;
}
p {
  @apply mt-2;
}
h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}
h2 {
  @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
}
